<div class='message__layout'>
    <div class='{{#if isActiveChat}}message--active{{/if}}'></div>
    {{#> avatar className='avatar--s'}}<img src='{{imageSrc}}' />{{/avatar}}
    <div class='message__block'>
        <div class='message__block__chat-name'>{{chatName}}</div>
        <div class='message__block__message'>
            {{#if isUserMessage}}
                <span class='message__block__message--accent'>Вы: </span>
            {{/if}} 

            {{#if chatUserName}}
                <span class='message__block__message--accent'>{{chatUserName}}: </span>
            {{/if}}
            {{message}}
        </div>
    </div>

    <div class='message__info'>
        <div class='message__info__date'>
            {{date}}
        </div>
        {{#if numberNewMessages}}
            <div class='message__info__number-new-messages'>+{{numberNewMessages}}</div>
        {{/if}}
     </div>
</div>